body
{
    text-align: justify;
    text-indent: 25px;
    word-spacing: 15px;
    letter-spacing: 5px;
}
#nav
{
    background-color: brown;
    color:white;
    text-align: center;
    /* line-height: 90px; */
    text-transform: uppercase;
    text-decoration: line-through;
    vertical-align: bottom;
}

#box
{
    background-color: blue;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}