@font-face {
    font-family: Charmin;
    src: url('fonts/a-charming-font/Achafsex.ttf');
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}
h3{
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Charmin';
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}
p{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'DotGothic16', sans-serif;

}